@font-face {
  font-family: 'FuturaNo2D';
  src: url('FuturaNo2D-DemiBold.woff');
}

body {
  width: calc(100% - 40px);
  height: 100%;
  margin: 0;
  padding: 0 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #F6F6F6;
  background: #141516 url('bg.jpg') no-repeat fixed center top / cover;
}

a, #filters li {
  text-decoration: none;
  color: #FF9C00;
}

a:hover, #filters li:hover {
  color: #FFC466;
}

#container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: "FuturaNo2D", "Century Gothic", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.announcement {
  border: 1px solid #FF9C00;
  padding: 10px 15px;
  font-size: 1.2rem;
}

#characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 650px;
  margin: 50px auto 0;
  padding: 0;
}

#characters li {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  margin: 5px;
  list-style: none;
  cursor: pointer;
}

#characters li.active::after, #characters li:hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: #FF9C00;
  opacity: .2;
}

#filters {
  display: flex;
  width: 400px;
  margin: 50px auto -50px;
  padding: 0;
  text-transform: uppercase;
}

#filters li {
  flex-grow: 1;
  padding: 10px 0;
  text-align: center;
  list-style: none;
  cursor: pointer;
  transition: border .3s, padding .3s;
}

#filters li.active, #filters li:hover {
  border-bottom: 5px solid #FF9C00;
  padding-bottom: 5px;
}

#filters li.active:hover {
  color: #FF9C00;
}

#list {
  margin: 50px 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#list li {
  position: relative;
  width: 100%;
}

#list .multi a:not(.secondary) {
  padding-left: 30px;
}

#list a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  padding: 10px 70px 10px 10px;
  box-sizing: border-box;
  background: #141516;
  z-index: 2;
  overflow: hidden;
  transition: margin .5s;
}

#list a:hover {
  background: #1E1E1F;
}

#list a:not(.secondary)::after {
  position: absolute;
  top: 50%;
  right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  padding: 5px;
  font-size: .8em;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.video a:not(.secondary)::after {
  content: 'Video';
}
.blog a:not(.secondary)::after {
  content: 'Blog';
}
.comic a:not(.secondary)::after {
  content: 'Comic';
}
.tweet a:not(.secondary)::after {
  content: 'Tweet';
}
.arg a:not(.secondary)::after {
  content: 'ARG';
}
.story a:not(.secondary)::after {
  content: 'Story';
}

#list a.secondary {
  position: absolute;
  top: 0;
  left: 21px;
  width: calc(100% - 21px);
  z-index: 1;
  transition: top .5s;
}

#list button {
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  width: 20px;
  border: none;
  padding: 0;
  outline: none;
  font-size: 0;
  background: #FF9C00;
  z-index: 3;
}

#list button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('arrow.svg') no-repeat center center / 24px 24px;
  z-index: 3;
  transition: transform .5s;
}

#list button:not(.collapsed)::after {
  transform: rotate(90deg);
}

.note {
  position: absolute;
  top: 11px;
  left: -30px;
  width: 24px;
  height: 24px;
  background: url('asterisk.svg') no-repeat center center / 24px 24px;
}

.note p {
  display: none;
  position: absolute;
  top: 0;
  left: 16px;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  padding: 15px;
  background: #141516;
  z-index: 5;
}

.note:hover p {
  display: block;
}

.end {
  margin: 100px 0 20px;
  font-size: .8em;
  letter-spacing: .03em;
  text-align: center;
}

@media (max-width: 500px) {

  #filters {
    width: auto;
    margin: 30px auto -50px;
    font-size: .9rem;
  }

  #characters li {
    width: 38px;
    height: 38px;
  }

  #characters li img {
    width: 38px;
  }

  .note {
    top: 17px;
    left: -16px;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
  }

  .end {
    margin: 50px 0 20px;
  }
}
